Neuron grow (pixel by pixel)
Lines thickness - grow in column (в толще)
Circle - draw until shorting round

Natural Objects	
	Rounded tree
	Leave
	Firtree
	Fern

Forces
	Gravity emulation => branches sagging (прогибание)

Application facilities
	Draw basic figure by mouse
	Gauge
	Multithreading

Performance (sample fractals)
15.0
0.343
0.218
13.235
0.563